.app {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.app-body {
    display: flex;
    padding-top: 65px;
    height: 100%;
    width: 100%; 
}

.title-bar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    height: 65px;
}

.nav-bar {
    position: fixed;
    left: 0;
    z-index: 1000;
    width: 15%;
    height: 100%; 
}

.songrecs-display {
    margin-left: 15%; 
    width: 85%;
    overflow-y: auto;
}