.login-container {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 5%;
    padding: 20px;
    border: 2px solid black;
    border-radius: 6px;
    background-color: white;
    font-family: "forma-djr-micro", sans-serif;
    font-weight: 700;
    font-style: normal;
}

h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 4px;
}

.submit-button {
    width: 100%;      
    padding: 12px;
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: black;
    color: white;
}

.message {
    text-align: center;
    color: #dc3545;
    margin-top: 15px;
}

.button-container {
    display: flex;
    justify-content: flex-end;
}

.toggle-button {
    background-color: black;
    color: white;
    font-size: 14px;
    border-radius: 4px;
}

.toggle-button:hover {
    background-color: white;
    color: black;
}
