.nav-bar {
    padding: 20px;
    border-right: 2px solid #000;
    display: flex;
    flex-direction: column;
    background-color: #F9B9C3;
    text-align: center;
    font-family: "forma-djr-micro", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.logout-button, .home-button, .profile-button {
    font-size: 20px;
    color: black;
    border: none;
    background-color: #F9B9C3;
    font-family: "forma-djr-micro", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.profile-button {
    margin-top: 300px;
    margin-bottom: 30px;
    text-decoration: none;
}

.home-button {
    text-decoration: none;
    margin-top: 30px;
    margin-bottom: 30px;
}

.logout-button:hover, .home-button:hover, .profile-button:hover {
    text-decoration-line: underline;
    color: lime; 
}