.nav-bar {
    padding: 20px;
    border-right: 2px solid #000;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    background-color: #F9B9C3;
    text-align: center;
    font-family: "forma-djr-micro", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.logout-button {
    border: none;
    color: black;
    background-color: #F9B9C3;
    font-size: 20px;
    font-family: "forma-djr-micro", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.logout-button:hover {
    text-decoration-line: underline;
    color: lime; 
}