.title-bar {
    background-color: white;
    text-align: center;
    padding: 10px;
    border-bottom: 2px solid #000;
}

.title-bar h1 {
    margin: 0;
    font-size: 36px;
    font-family: "forma-djr-micro", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.chef-title {
    font-family: "forma-djr-micro", sans-serif;
    font-weight: 400;
    font-style: italic;
}